<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- PERSPECTIVES -->
   	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="org.argeo.suite.workbench.DashboardPerspective"
            id="org.argeo.suite.workbench.rap.dashboardPerspective"
            icon="img/favicon.ico"
            name="Dashboard">
		</perspective> 
	</extension>
	
	<!-- VIEWS -->
	 <extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.suite.workbench.rap.quickSearchView"
			name="Search"
			restorable="false">
		</view>
		
	</extension>
		
	<!-- EDITORS --> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			id="org.argeo.suite.workbench.rap.defaultDashboardEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			name="Dashboard">
		</editor>
	</extension>
	
	<!-- COMMANDS --> 	
	<extension
         point="org.eclipse.ui.commands">
		<command
      		id="org.argeo.suite.workbench.rap.importEntities"
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
            name="Import entities">
    	</command>    	
	</extension>

	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
		
		<menuContribution locationURI="menu:org.argeo.cms.ui.workbench.rap.mainMenu?before=org.argeo.cms.ui.workbench.rap.beforeExit">
			<menu
				id="org.argeo.suite.workbench.rap.advancedMenu"
				label="Administration"
				icon="icons/more.gif"
				tooltip="Access to advanced commands">
				<visibleWhen
          			checkEnabled="false">
		    		<with variable="roles">
		    			<iterate ifEmpty="false" operator="or">
		      				<equals value="cn=org.argeo.suite.manager,ou=roles,ou=node" />
		      			</iterate>
		    		</with>
				</visibleWhen>
	       </menu>
		</menuContribution>
		<menuContribution locationURI="menu:org.argeo.suite.workbench.rap.advancedMenu">
        	<command
	      		commandId="org.argeo.suite.workbench.rap.importEntities"
				icon="icons/upload.gif"
				label="Import data..."
				tooltip="Upload XLS file that contains legacy/external data">
			</command>
		</menuContribution>
	</extension>
	
	<!-- BRANDING AND THEMES -->
	<extension  
            point="org.eclipse.equinox.http.registry.resources">  
         <!-- javascript libraries -->
         <resource  
               alias="/ui/office/js/Chart.min.js"  
               base-name="js/Chart.min.js">  
         </resource>  
         <resource  
               alias="/ui/office/js/leaflet.js"  
               base-name="js/leaflet.js">  
         </resource>  
         <resource  
               alias="/ui/office/js/leaflet.css"  
               base-name="js/leaflet.css">  
         </resource>
          <resource  
               alias="/css/headerExt.css"  
               base-name="css/headerExt.css">  
         </resource>  
         <resource  
               alias="/img/logo-argeo.png"  
               base-name="img/logo-argeo.png">  
         </resource>  
    </extension>  
    
	<extension
		point="org.eclipse.rap.ui.entrypoint">
		<entrypoint
			id="org.argeo.suite.workbench.rap.entrypoint"
			class="org.argeo.suite.workbench.rap.AsSecureEntryPoint"
			path="/office"
			brandingId="org.argeo.suite.theme.argeo2.defaultBranding">
		</entrypoint>
	</extension>

	<extension
		point="org.eclipse.rap.ui.branding">
		<branding
			id="org.argeo.suite.theme.argeo2.defaultBranding"
			themeId="org.eclipse.rap.rwt.theme.Default"
			title="Argeo Suite"
			favicon="img/favicon.ico">
			<additionalHeaders>
    			 <link href="/css/headerExt.css" rel="stylesheet" />
			</additionalHeaders>
		</branding>
	</extension> 
	
</plugin>
