<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- RAP workbench main entry point for the Argeo Suite core application --> 
	<extension
		point="org.eclipse.rap.ui.entrypoint">
		<entrypoint
			id="org.argeo.suite.workbench.rap.entrypoint"
			class="org.argeo.suite.workbench.rap.AsSecureEntryPoint"
			path="/suite"
			brandingId="org.argeo.suite.workbench.rap.defaultBranding">
		</entrypoint>
	</extension>
	
	<!-- PERSPECTIVES -->
   	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="org.argeo.suite.workbench.DashboardPerspective"
            id="org.argeo.suite.workbench.rap.dashboardPerspective"
            icon="theme/argeo-classic/icons/favicon.ico"
            name="Dashboard">
		</perspective> 
	</extension>
	
	<!-- VIEWS -->
	 <extension
		point="org.eclipse.ui.views">
       <!-- <view
			id="org.argeo.connect.people.workbench.rap.quickSearchView"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/argeo-classic/icons/favicon-16px.png"
			name="Test View"
			restorable="true">
		</view> -->
	</extension>
		
	<!-- EDITORS --> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			id="org.argeo.suite.workbench.rap.defaultDashboardEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/argeo-classic/icons/dashboard.gif"
			name="My Dashboard">
		</editor>
	</extension>
	
	<!-- COMMANDS --> 	
	<extension
         point="org.eclipse.ui.commands">
         <command
      		id="org.argeo.suite.workbench.rap.openDashboardEditor"
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			name="createEntity">
    	</command>         
    	
    	<!-- Open correct editor given the node type --> 
    	<command
			id="org.argeo.suite.workbench.rap.openEntityEditor"
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			name="Open Editor">
			<commandParameter
         		id="param.jcrId"
         		name="The jcr identifier">
         	</commandParameter>
		</command>    
		
	</extension>

	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">

		<!-- Add entity and Search menus --> 
		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.argeo.cms.ui.workbench.rap.userToolbar">
			<toolbar id="org.argeo.connect.ui.workbench.dropDownsToolbar">
				<command
					id="org.argeo.connect.ui.workbench.addEntityToolbar"
					style="pulldown"
					label="Create"
					tooltip="Create a new object"
					icon="theme/argeo-classic/icons/add.gif"
					commandId="org.argeo.cms.ui.workbench.doNothing">
				</command>
				<command
					id="org.argeo.connect.ui.workbench.openSearchToolbar"
					style="pulldown"
					label="Search"
					tooltip="Open a detailed search page"
					icon="theme/argeo-classic/icons/search.png"
					commandId="org.argeo.cms.ui.workbench.doNothing">
					<visibleWhen checkEnabled="false">
						<with variable="roles">
		    				<iterate ifEmpty="false" operator="or">
		      					<equals value="cn=org.argeo.suite.coworker,ou=roles,ou=node" />
			      			</iterate>
		    			</with>
					</visibleWhen>
				</command>
			</toolbar>
		</menuContribution>
	</extension>
	
	<!-- BRANDING AND THEMES -->
	<extension
		point="org.eclipse.rap.ui.branding">
		<branding
			id="org.argeo.suite.workbench.rap.defaultBranding"
			themeId="org.eclipse.rap.rwt.theme.Default"
			title="Argeo Suite"
			favicon="theme/argeo-classic/icons/favicon.ico">
			<additionalHeaders>
    			 <link 
    			 	href="suite/theme/classic-headerExt.css"  
    			 	rel="stylesheet" />
			</additionalHeaders>
		</branding>
	</extension> 
	
	<extension  
            point="org.eclipse.equinox.http.registry.resources">  
		 <!-- Enable overwriting of link styles in the meta tags -->
         <resource  
               alias="/ui/suite/theme/classic-headerExt.css"  
               base-name="theme/argeo-classic/workbench-headerExt.css">  
         </resource>  
         <!-- images -->
         <resource  
               alias="/ui/suite/img/logo-argeo.png"  
               base-name="theme/argeo-classic/img/logo-argeo.png">  
         </resource>  
         <!-- javascript libraries -->
         <!--          <resource  
               alias="/ui/suite/js/Chart.min.js"  
               base-name="js/Chart.min.js">  
         </resource>  
         <resource  
               alias="/ui/suite/js/leaflet.js"  
               base-name="js/leaflet.js">  
         </resource>  
         <resource  
               alias="/ui/suite/js/leaflet.css"  
               base-name="js/leaflet.css">  
         </resource>   -->
    </extension>  
	
	<extension
		point="org.eclipse.rap.ui.themes">
		<themeContribution
			themeId="org.eclipse.rap.rwt.theme.Default"
			file="theme/argeo-classic/workbench-ext.css" />
	</extension>
</plugin>