.argeo-work-header {
	font: bold 22px sans-serif;
	color: white;
	background-color: #204a87;
}

.argeo-work-leadPane {
	font: bold 14px sans-serif;
	color: white;
	background-color: #204a87;
}

Button.argeo-work-leadPane {
	font: bold 14px sans-serif;
	color: white;
	background-color: white;
}