.argeo-suite-header {
	color: white;
	background-color: #00294b;
}

.argeo-suite-headerTitle {
	font: bold 18px sans-serif;
	color: white;
	background-color: #00294b;
}

.argeo-suite-leadPane {
	background-color: #eee;
}

Label.argeo-suite-leadPane {
	font: 14px sans-serif;
	color: #888;
	background-color: #eee;
}

Button.argeo-suite-leadPane:hover {
	cursor:pointer;
}

.argeo-suite-recentItems {
	font: bold 14px sans-serif;
	color: white;
	background-color: #00294b;
	padding: 8px 16px;
}

.argeo-suite-titleContainer {
	background-color: #00294b;
	padding: 6px 8px 4px 8px;
}

.argeo-suite-titleLabel {
	font: bold 14px sans-serif;
	color: white;
	background-color: #00294b;
}

.argeo-suite-subTitleLabel {
	font: italic 14px sans-serif;
	color: #777;
	padding: 4px 8px;
}

.argeo-suite-simpleLabel {
	font: bold 14px sans-serif;
	padding: 0 0 0 8px;
}

.argeo-suite-simpleText {
	
}

.argeo-suite-titleCell {
	font: bold 14px sans-serif;
	background-color: #ddd;
}

.argeo-suite-inlineButton {
	padding: 0px 4px;
	font: 12px sans-serif;
	border: 1px solid white;
	color: white;
	background-image: none;
	background-color: #00294b;
}

.argeo-suite-inlineButton:hover {
	color: #00294b;
	background-color: white;
}

Composite.argeo-suite-mainTabBody {
	background-color: #eee;
	border: 1px solid #bbb;
}

.argeo-suite-mainTab {
	background-color: #eee;
	border: 1px solid #888;
}

ToolItem.argeo-suite-mainTab {
	border: none;
	background-color: #eee;
}

ToolItem.argeo-suite-mainTab:hover {
	background-color: #eee;
}


Button.argeo-suite-mainTab {
	border: 1px solid #eee;
	background-color: #eee;
}

.argeo-suite-mainTab:hover {
	background-color: #eee;
}

Button.argeo-suite-mainTab:hover {
	cursor: pointer;
	background-color: #eee;
}

.argeo-suite-mainTabSelected {
	font: bold 14px sans-serif;
	color: white;
	/*background-color: #00294b;*/
	background-color: #5882b5;
	border:1px solid #888;
}

ToolItem.argeo-suite-mainTabSelected {
	border: none;
}

ToolItem.argeo-suite-mainTabSelected:hover {
	background-color: #5882b5;
}

Button.argeo-suite-mainTabSelected {
	border: none;
}

Sash {
  border: 1px solid white;
  background-image: none;
  background-color: white;
}

Sash:hover {
  border: 1px solid #5882b5;
  background-color: #5882b5;
}

TreeItem{
	background-color:#fff;
}

Tree-RowOverlay:selected {
	color:#fff;
	background-color:#5882b5;
}

