/* PEOPLE ICONS */


/* MISCELLANEOUS */

.people_icon_primary {
	background-image: url(theme/argeo-classic/icons/people/misc/primary.gif);
	border: none;
}

.people_icon_not_primary {
	background-image: url(theme/argeo-classic/icons/people/misc/primaryNOT.gif);
	border: none;
}

/* CONTACTS */
.people_icon_email {
	background-image: url(theme/argeo-classic/icons/people/contacts/mail_black.png);
	border: none;
}

.people_icon_mobile {
	background-image: url(theme/argeo-classic/icons/people/contacts/mobile.png);
	border: none;
}

.people_icon_fax {
	background-image: url(theme/argeo-classic/icons/people/contacts/fax.png);
	border: none;
}

.people_icon_phone {
	background-image: url(theme/argeo-classic/icons/people/contacts/phone_vintage.png);
	border: none;
}

.people_icon_work {
	background-image: url(theme/argeo-classic/icons/people/contacts/home.png);
	border: none;
}

.people_icon_address {
	background-image: url(theme/argeo-classic/icons/people/contacts/home.png);
	border: none;
}

.people_icon_url {
	background-image: url(theme/argeo-classic/icons/people/contacts/link.png);
	border: none;
}

.people_icon_google_plus {
	background-image: url(theme/argeo-classic/icons/people/contacts/googleplus.png);
	border: none;
}

.people_icon_facebook {
	background-image: url(theme/argeo-classic/icons/people/contacts/facebook.png);
	border: none;
}

.people_icon_twitter {
	background-image: url(theme/argeo-classic/icons/people/contacts/twitter.png);
	border: none;
}

.people_icon_linkedin {
	background-image: url(theme/argeo-classic/icons/people/contacts/linkedin.png);
	border: none;
}

.people_icon_xing {
	background-image: url(theme/argeo-classic/icons/people/contacts/xing.png);
	border: none;
}

.people_icon_social_media {
	background-image: url(theme/argeo-classic/icons/people/contacts/socialmedia.png);
	border: none;
}

.people_icon_impp {
	background-image: url(theme/argeo-classic/icons/people/contacts/impp.png);
	border: none;
}
