/**
Argeo Blue: #00294b
*/ 



/** Same styles are also provided by the workbench CSS. TODO: enhance single sourcing */


/* Breadcrumb ***/
Button.breadCrumb_btn {
  border: 1px solid  #f4f6f7;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  animation: hoverOut 500ms ease-out;
  cursor: pointer;
  font-color: #00294b;
  text-decoration: none;
}

Button.breadCrumb_btn:hover {
  text-decoration: underline;
}

/* Documents lists context menu */
.contextMenu_box {
	border: 0px solid #fde2d5;
  	padding: 0px;
  	box-shadow: 2px 2px 5px #fde2d5; 
}

Button[PUSH][FLAT].createFolder_btn {
	background-image: url( theme/argeo-classic/icons/fs/addFolder.gif);
}

Button[PUSH][FLAT].shareFolder_btn {
	background-image: url( theme/argeo-classic/icons/fs/shareFolder.png);
}

Button[PUSH][FLAT].bookmarkFolder_btn {
	background-image: url( theme/argeo-classic/icons/fs/bookmarkFolder.png);
}

Button[PUSH][FLAT].downloadFolder_btn {
	background-image: url( theme/argeo-classic/icons/fs/downloadFolder.png);
}

Button[PUSH][FLAT].delete_btn,
Button[PUSH][FLAT].deleteBookmark_btn {
	background-image: url( theme/argeo-classic/icons/fs/delete.png);
}

Button[PUSH][FLAT].rename_btn,
Button[PUSH][FLAT].renameBookmark_btn {
	background-image: url( theme/argeo-classic/icons/fs/rename.png);
}


Button[PUSH][FLAT].uploadFiles_btn {
	background-image: url( theme/argeo-classic/icons/fs/upload.png);
}

Button[PUSH][FLAT].open_btn {
	background-image: url( theme/argeo-classic/icons/fs/open.png);
}


Button[PUSH][FLAT].createFolder_btn,
Button[PUSH][FLAT].shareFolder_btn,
Button[PUSH][FLAT].bookmarkFolder_btn,
Button[PUSH][FLAT].downloadFolder_btn,
Button[PUSH][FLAT].delete_btn,
Button[PUSH][FLAT].rename_btn,
Button[PUSH][FLAT].uploadFiles_btn,
Button[PUSH][FLAT].open_btn,
Button[PUSH][FLAT].deleteBookmark_btn, 
Button[PUSH][FLAT].renameBookmark_btn {
  border: 0px solid white;
  border-left: 10px solid transparent;
  border-radius: 0px;
  padding: 4px 5px 4px 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left; 
  animation: hoverOut 500ms ease-out;
  cursor: pointer;
}

Button[PUSH][FLAT].createFolder_btn:hover,
Button[PUSH][FLAT].shareFolder_btn:hover,
Button[PUSH][FLAT].bookmarkFolder_btn:hover,
Button[PUSH][FLAT].downloadFolder_btn:hover,
Button[PUSH][FLAT].delete_btn:hover,
Button[PUSH][FLAT].rename_btn:hover,
Button[PUSH][FLAT].uploadFiles_btn:hover,
Button[PUSH][FLAT].open_btn:hover,
Button[PUSH][FLAT].deleteBookmark_btn:hover, 
Button[PUSH][FLAT].renameBookmark_btn:hover  {
  background-color: #fef0ea;
}

Button[PUSH][FLAT].createFolder_btn:pressed,
Button[PUSH][FLAT].shareFolder_btn:pressed,
Button[PUSH][FLAT].bookmarkFolder_btn:pressed,
Button[PUSH][FLAT].shareFolder_btn:pressed,
Button[PUSH][FLAT].downloadFolder_btn:pressed,
Button[PUSH][FLAT].delete_btn:pressed,
Button[PUSH][FLAT].rename_btn:pressed,
Button[PUSH][FLAT].uploadFiles_btn:pressed,
Button[PUSH][FLAT].open_btn:pressed,
Button[PUSH][FLAT].deleteBookmark_btn:pressed, 
Button[PUSH][FLAT].renameBookmark_btn:pressed{
  background-color: #fde2d5;
}