<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.argeo.suite.e4.featureActive">
     <with variable="org.eclipse.ui.selection">
        <iterate ifEmpty="true" operator="or">
          <instanceof value="javax.jcr.Node">
          </instanceof>
        </iterate>
      </with>
      </definition>
   </extension>

</plugin>
