/******************************************
**    Argeo Suite additional header     **
******************************************/

/* Force the addition of global styles to the application header */

/*** Override default links **/
a:link { 
  color: #333333;  
  text-decoration:none;  
} 

a:hover { 
  text-decoration:underline; 
}
